<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronadetector">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_logo_round"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".stat.controller.AllFavorisActivity"/>
        <activity android:name=".stat.controller.StatDetailsActivity" />
        <activity android:name=".stat.controller.MainActivity" />
        <activity android:name=".ML.MainActivity" />
        <activity android:name=".formulaire.Main6Activity" />
        <activity android:name=".formulaire.Main5Activity" />
        <activity android:name=".formulaire.Main4Activity" />
        <activity android:name=".formulaire.Main3Activity" />
        <activity android:name=".formulaire.Main2Activity" />
        <activity android:name=".formulaire.MainActivityFormulaire" />
        <activity android:name=".flireone.MainActivity" />
        <activity android:name=".apropos.MainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".map.Activity.MapsMarkerActivity" />
        <activity android:name=".welcome.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".map.Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".stat.controller.ExampleService" />
    </application>

</manifest>